<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.win.trafficroute">

    // Download Map from google Server
    <uses-permission android:name="android.permission.INTERNET" />

    //Check Status Connection cellular data ==> Mobile Data Before Donwlaod Map
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    // Check Status connecttion Wifi Before Donwlaod Map
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    //Cach map data
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    //Get Current Abount Location By Mobile Or WIFI Status
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    //-Get and re Location USE GPS find location
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    //ค้นหา
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ.GSERVICES" />
    //ค้นหา service network

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserRegistration" />
        <activity android:name=".MainStartSearchRoute" />
        <activity android:name=".SearchRouteList" />
        <activity android:name=".SearchRouteActivity"/>
        <!--<activity android:name=".Tab_Working"/>-->
        <activity android:name=".Tab_map"/>
        <activity android:name=".Tab_HistList"/>
        <activity android:name=".Tab_search"/>

        <activity android:name=".tabpage_activity" />
        <activity android:name=".tab1" />
        <activity android:name=".tab2" />
        <activity android:name=".tab3" />

         <!--<meta-data-->
         <!--android:name="com.google.android.gms.version"-->
         <!--android:value="@integer/google_play_services_version" />-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBR3pJfYwyNXs24RQRIg-3fb40BeYMfkKw"/>
            <!--android:value="AIzaSyAPuASrlkcgxg5xFJXRVUXsk5sV-e9K1Ww" -->


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>